/*stylesheet*/

header {
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    background-color: #80ccff;
}

ul {
    list-style-type: none;
    background-color:#ffffff;
    overflow: hidden;
    margin: 0;
    padding-left: 24%;
    padding-right: 20%;
    text-align: center;
    height: 5em;
    position: fixed;
}
li {
    text-align: center;
    float: left;
    color: #ffffff
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20pt;
}
aside {
    background-color: #80ccff;
    width: 21%;
    position: absolute;
    padding: 1%;
    margin-left: 1em;
    border-style: dotted;
    border-color: #000000;
    margin-top: 15em;
   
}
aside.left { 
    clear:left;
    margin-right: 20px;
    margin-left: 20px;
}

h2 {
    margin-left: 5%;
    margin-top: 5%;
}
p {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
main {
    margin-left: 26%;
    margin-right: 25%;
    float: left;
    position: relative;
    z-index: 5;
    width: 50%;
    background-color: #80ccff;
    border-style: dotted;
    border-color: #000000;
    margin-top: 3.5em;
}
section {
    background-color: #e6ccff;
    width: 30%;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: scroll;
    height: 25em;
}
img {
    height: 150px;
    width:130px;
    border-width:5px;
    border-style: double;
    border-color: #000000;
    margin-left:10%;
}
article {
    background-color: #ffffcc;
    color: #000000;
    font-family: American Typewriter;
    width: 85%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
}

footer {
    clear:left;
    width:100%;
    background-color: #ffffff;

}
body {
    float:left;
    background-color: #e6ccff;
}
nav {
    overflow: hidden;
    width: 25%;
    height:50px;
    font-size: 15pt;
    position: fixed;
    font-size: 15pt;
}
nav:hover {
    height:15em;
}
 nav li:hover {
    cursor: pointer;
    text-decoration: underline;
    border-color: #ffffff;
}
#menu{
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 27px;
    background-color:white;

}
#dropdown{
    position: absolute;
    text-align: left;
    visibility: hidden;
    padding: 1%;
    width: 90px;
    padding-left: 2%;
    list-style-type: none;
    margin-top: -19px;
    height: 0;
    overflow: hidden;
    transition: 200ms linear;
}
#menu:hover{
    border-radius: 5px;
    background-color: white;
    visibility: visible;
    height: 90px;
}
#dropdown:hover {
    border-radius: 5px;
    background-color: white;
    visibility: visible;
    height: 111px;
}
@media screen and (max-width: 36em){

    aside{height: 50%;
        width: 100%
    }
    main{
        width: 36em;
        margin-left: 20%;
    }
    section{
        height: 15em;
        overflow: auto;
        width: 36em;
        float:left;
    }

    section{
        margin-left: 2%;
    }

    section{
        margin-left: 0%;
        clear:both;
    }
}

@media screen and (max-width: 63em){
    aside{height: 80%;
        width: 100%
        overflow: auto;
    }
    main{
        width: 100%;
        margin-left: 20%;
    }
    section{
        height: 20em;
        overflow: auto;
        width: 63em;
        float:left;
    }

    section{
        margin-left: 0%;
        clear:both;
    }
}
