/*stylesheet*/

header {
    width: 100%;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    background-color:#ffffff;
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;
}
li {
    float: left;
    color: #ffffff
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2em;
}
aside {
    background-color: #80ccff;
    width: 22%;
    position: absolute;
    padding: 1%;
    margin-left: 1em;
    height: 30em;
}
aside.left { 
    clear:left;
    margin-right: 20px;
    margin-left: 20px;
}
h2 {
    margin-left: 5%;
    margin-top: 5%;
}
p {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
main {
    margin-left: 26%;
    margin-right: 25%;
    float: left;
    position: relative;
    z-index: 5;
    width: 50%;
}
section {
    background-color: #ffffff;
    width: 30%;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: scroll;
}
img {
    height: 150px;
    width:130px;
    border-width:5px;
    border-style: double;
    border-color: #000000;
    margin-left:10%;
}
article {
    background-color: #ffffcc;
    color: #000000;
    font-family: American Typewriter;
    width: 85%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
}

footer {
    clear:left;
    width:100%;
}
body {
    float:left;
    background-color: #e6ccff;
}