/*stylesheet*/

header {
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}
ul {
    padding-left: 0;
    margin: 1em;
    width: 9em;
    position: fixed;
    height: 4em;
    overflow: hidden;
}

li {
    float: left;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    font-size: 1em;
}
aside {
    background-color: #80ccff;
    width: 21%;
    position: absolute;
    padding: 1%;
    margin-left: 1em;
    border-style: dotted;
    border-color: #000000;
   
}
aside.left { 
    clear:left;
    margin-right: 20px;
    margin-left: 20px;
}

h2 {
    margin-left: 5%;
    margin-top: 5%;
}
p {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
main {
    margin-left: 26%;
    margin-right: 25%;
    float: left;
    position: relative;
    z-index: 5;
    width: 50%;
    background-color: #80ccff;
    border-style: dotted;
    border-color: #000000;
}
section {
    background-color: #e6ccff;
    width: 30%;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: scroll;
    height: 25em;
}
img {
    height: 150px;
    width:130px;
    border-width:5px;
    border-style: double;
    border-color: #000000;
    margin-left:10%;
}
article {
    background-color: #ffffcc;
    color: #000000;
    font-family: American Typewriter;
    width: 85%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
}

footer {
    clear:left;
    width:100%;
    background-color: #ffffff;

}
body {
    float:left;
    background-color: #e6ccff;
}





